@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-background {
  @apply bg-cover bg-center;
  background: linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url('https://firebasestorage.googleapis.com/v0/b/my-first-project-6eebf.appspot.com/o/photo_2024-07-21_20-25-16.jpg?alt=media&token=632f5afe-6e7b-41c7-b56b-c21166824217');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background: #F5F5F5;
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}
.container{
  padding-left: 10%;
  padding-right: 10%;
}
.btn{
  background: #FFF;
  color: #212121;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.btn img{
  width: 20px;
  margin-left: 10px;
}
.btn.dark-btn{
  background: #212EA0;
  color: #fff;
}

/* ----- media query ----------- */

@media (max-width: 1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn{
    padding: 14px 22px;
  }
}